body {
    font-family: 'Varela Round';
    margin-left: 5%;
    margin-right: 5%;
    background-color: #efefef;
}

#banner {
    background-color:  #2eb82e;
    text-align: center;
    color: #efefef;
    font-size: 30px;
    /*font-weight: bold;*/
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

#main {
    position: relative;
    width: 100%;
}

#solution {
    border: 1px solid black;
    position: absolute;
    left: 1%;
    width: 48%;
}

#stats {
    border: 1px solid black;
    position: absolute;
    left: 51%;
    width:48%;
}

.block-heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}







/*#about {
	float: right;
	width: 350px;
	padding: 10px;
	border: 1px solid black;
}
#status {
	padding: 10px;
	margin-bottom: 1em;
}
#mail table {
	margin-bottom: 1em;
}
#mail table th,
#mail table td {
	vertical-align: top;
	text-align: left;
}*/
