body {
    font-family: 'Varela Round';
    margin-left: 5%;
    margin-right: 5%;
    background-color: #efefef;
}

#banner {
    background-color:  #2eb82e;
    text-align: center;
    color: #efefef;
    font-size: 30px;
    /*font-weight: bold;*/
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

#main {
    position: relative;
    width: 100%;
}

/*make a class called block for the two elements below to get stuff from*/

#solution {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
    left: 0%;
    width: 49%;
}

#stats {
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    padding: 5px;
    left: 51%;
    width:48%;
}

.block-heading {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}

.stat {
    margin: 2px;
}

.stat_answer {
    color: red;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    /*width: 100%;*/
}

/*th, td {
    text-align: left;
    padding: 8px;
}*/

tr:nth-child(even){
    background-color: #d9d9d9;
}
 /*#d9d9d9*/

th {
    background-color: #2eb82e;
    color: #efefef;
}
