body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #efefef;
}

.stat {
    margin: 2px;
}

.stat_answer {
    color: #003900;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #d9d9d9;
}

th {
    background-color: #2eb82e;
    color: #efefef;
}

#status {
    padding: 10px;
    margin-bottom: 1em;
}

#response table {
    margin-bottom: 1em;
    border-collapse: collapse;
}

#response table th,
#response table td {
    border: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
}

#response table th {
    background-color: #2eb82e;
    color: #efefef;
}

#response table tr:nth-child(even) {
    background-color: #d9d9d9;
}


/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 550px
}


/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}


/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}